body {
  background-color: white;
}
.slide {
  background-color: #F5F0EA;
}
body, h1, h2, h3, h4, h5, h6, h1 a {
  color: #38312B;
}

h1 {
  font-size: 4.5em;
}

.content > pre {
  font-size: 200%;
  font-family: Inconsolata, "Bitstream Vera Sans Mono", monospace;
}
